<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1 class="text-danger">Access Denied</h1>
        <h5 class="text-danger">You dont have the previllige to access to this page</h5>

    </div>
</body>
</html>



