
@{
    ViewData["Title"] = "AccountLocked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger">Your account is locked,Please try again after somtimes or you may 
    <a asp-action="ResetPassword" asp-controller="Account">reset password by clicking here</a></h3>

