@model  int
@{
    ViewData["Title"] = "EmployeeNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Page:</h4>
    <h5>
        Employee with Id=@Model cannot be found
    </h5>
</div>

    <a asp-action="Index" style="width:250px;height:auto" class="btn btn-outline-success">Click to see all emplyees</a>

